@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* next-theme dark mod rengini ezdik */

.dark {
  background-color: rgb(9, 9, 11);
}

/*UNDERLINE*/
@layer components {
  .navbar_link:hover {
    color: #ef4444;
    transition: all 0.4s;
  }

  .navbar_link::after {
    position: absolute;
    content: '';
    background-color: #ef4444;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar_link:hover::after {
    scale: 1;
  }
}

.dark-gradient {
  background: radial-gradient(farthest-corner at 50% 50%, transparent, rgb(9, 9, 11) 75%);
}

@layer base {
  h3 {
    @apply font-sora text-xl md:text-3xl 3xl:text-4xl;
  }
}
