@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* next-theme dark mod rengini ezdik */

.dark {
  background-color: rgb(9, 9, 11);
}

/*UNDERLINE*/
@layer components {
  .navbar_link:hover {
    color: #8b56f7;
    transition: all 0.4s;
  }

  .navbar_link::after {
    position: absolute;
    content: '';
    background-color: #8b56f7;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar_link:hover::after {
    scale: 1;
  }
}

@layer base {
  h2 {
    @apply inline-block from-[#8B56F7] to-white bg-clip-text text-center font-sora text-2xl font-bold text-black dark:bg-gradient-to-r dark:text-transparent md:my-5 md:text-5xl;
  }

  h3 {
    @apply mt-4 px-2 text-[11px] font-semibold uppercase tracking-wider shadow-lg dark:bg-black md:mb-3 md:mt-10 md:w-fit;
  }
}

.dark-gradient {
  background: radial-gradient(farthest-corner at 50% 50%, transparent, rgb(9, 9, 11) 75%);
}
